In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('jointEduIncome.csv')
df

,rn,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,<=50K,0.025230,0.032790,0.011538,0.004807,0.009151,0.017307,0.014256,0.024932,0.031928,0.096744,0.003150,0.272628,0.023506,0.001492,0.004509,0.177110
1,>50K,0.001956,0.001956,0.000961,0.000199,0.000398,0.001160,0.000829,0.008488,0.011405,0.070486,0.009283,0.053611,0.030436,0.000000,0.013461,0.044294

Tar in input for rad og kolonne

In [12]:
col = 1     #input("Enter kolonne:")
rad = 1     #input("Enter rad:")

In [13]:
col = col-1
rad = rad-1

In [14]:
cell_value = df.iloc[rad, col]
row_data = df.iloc[rad]
col_data = df.iloc[col]

Marginal probabilites for hver kolonne
Marginal probabilites for hver rad

In [15]:
marginal_probability_col = df.iloc[:, col].sum()

print(marginal_probability_col)

marginal_probability_rad = df.iloc[rad].sum()

print(marginal_probability_rad)

<=50K>50K

TypeError: can only concatenate str (not "numpy.float64") to str

Conditional probabilites for hver kolonne
Conditional probabilites for hver rad

In [ ]:
conditional_probability_row = df.iloc[rad, col] / marginal_probability_rad
conditional_probability_col = df.iloc[rad, col] / marginal_probability_col

print(f"Row-conditional Probability: {conditional_probability_row}")
print(f"Column-conditional Probability: {conditional_probability_col}")