In [8]:
import pandas as pd

In [9]:
# Create Dataframe A
data_A = {'A1': [1, 2],
          'A2': [3, 4]}
df_A = pd.DataFrame(data_A)

df_A

   A1  A2
0   1   3
1   2   4

In [10]:
# Create Dataframe B
data_B = {'B1': [5, 6],
          'B2': [7, 8]}
df_B = pd.DataFrame(data_B)

df_B

   B1  B2
0   5   7
1   6   8

FUNGERE FOR 2x2 matrise

In [17]:
# Create the "total" dataframe by element-wise multiplication
total_data = {
    'Total[0,0]': df_A.at[0, 'A1'] * df_B.at[0, 'B1'],
    'Total[0,1]': df_A.at[0, 'A2'] * df_B.at[0, 'B2'],
    'Total[1,0]': df_A.at[1, 'A1'] * df_B.at[1, 'B1'],
    'Total[1,1]': df_A.at[1, 'A2'] * df_B.at[1, 'B2']
}

total_df = pd.DataFrame([[total_data['Total[0,0]'], total_data['Total[0,1]']],
                         [total_data['Total[1,0]'], total_data['Total[1,1]']]], 
                        columns=['Total[0,0]', 'Total[0,1]'])

print(total_df)

   Total[0,0]  Total[0,1]
0           5          21
1          12          32

FUNGERE IKKE

In [24]:
def multiply_dataframes(df1, df2):
    total_data = {}

    for idx1, row1 in df1.iterrows():
        for idx2, row2 in df2.iterrows():
            for col1, value1 in row1.items():
                for col2, value2 in row2.items():
                    total_data[f'{col1}*{col2}'] = value1 * value2

    total_df = pd.DataFrame([[total_data[f'{col1}*{col2}'] for col1 in df1.columns] for col2 in df2.columns], 
                            columns=[f'{col1}*{col2}' for col2 in df2.columns])

    return total_df

In [25]:
x = multiply_dataframes(df_A, df_B)

In [26]:
x

   A2*B1  A2*B2
0     12     24
1     16     32