In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('hotel_bookings-market.csv')
df

    id market_segment_type
0    1              Online
1    2              Online
2    3              Online
3    4              Online
4    5             Offline
..  ..                 ...
59  60           Corporate
60  61              Online
61  62              Online
62  63             Offline
63  64              Online

[64 rows x 2 columns]

In [18]:
print(df['market_segment_type'].unique())

['Online' 'Offline' 'Corporate' 'Complementary']

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   64 non-null     int64
 1   market_segment_type  64 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [20]:
df.head()

   id market_segment_type
0   1              Online
1   2              Online
2   3              Online
3   4              Online
4   5             Offline

In [21]:
x = df['market_segment_type'].value_counts(normalize=True)